html {
    overflow: auto;
}

body {
    overflow: hidden;
}

#content {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width:480px) {
    #content {
        max-width: 480px;
        margin-left: auto;
        margin-right: auto;
    }
}


header p {
    text-align: right;
}

header p:first-child {
    margin-bottom: 0;
}

header .assign {
    text-align: right;
}

header .replace {
    text-align: right;
}

#token-info,
#user-info {
    max-width: 100%;
}

#token-info p {
    overflow-wrap: break-word;
}

.word-break-all {
    word-break: break-all;
}

#token-info {
    padding-left: 1em;
    padding-right: 1em;
}

#user-info {
    margin-top: 1em;
}

#user-info > tbody > tr > td:first-child {
    vertical-align: baseline;
    width: 8em;
}

#user-info > tbody > tr > td {
    padding-top: 5px;
    padding-bottom: 5px;
}

#user-info > tbody > tr:first-child > td {
    padding-top: 0;
}

#user-info > tbody > tr:last-child > td {
    padding-bottom: 0;
}
