<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AuthenticationPIN_Lower</key>
	<integer>24</integer>
	<key>AuthenticationPIN_Upper</key>
	<integer>0</integer>
	<key>AuthenticationUertificate_Lower</key>
	<integer>10</integer>
	<key>AuthenticationUertificate_Upper</key>
	<integer>0</integer>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string></string>
			<key>CFBundleURLSchemes</key>
			<array/>
		</dict>
	</array>
	<key>InquiryURL</key>
	<string>https://www.kojinbango-card.go.jp/contact/</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>PrivacyPolicyURL</key>
	<string>https://example.com/open-id/privacy-policy.html</string>
	<key>ProofKey_Upper</key>
	<integer>0</integer>
	<key>Proofkey_Lower</key>
	<integer>23</integer>
	<key>ProtectionPolicyURL</key>
	<string>https://example.com/open-id/personal-data-protection-policy.html</string>
	<key>SignaturePIN_Lower</key>
	<integer>27</integer>
	<key>SignaturePIN_Upper</key>
	<integer>0</integer>
	<key>SigningCertificate_Lower</key>
	<integer>1</integer>
	<key>SigningCertificate_Upper</key>
	<integer>0</integer>
	<key>SigningKey_Lower</key>
	<integer>26</integer>
	<key>SigningKey_Upper</key>
	<integer>0</integer>
	<key>TermsOfServiceURL</key>
	<string>https://example.com/open-id/terms-of-use.html</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UISceneConfigurations</key>
		<dict/>
	</dict>
	<key>com.apple.developer.nfc.readersession.iso7816.select-identifiers</key>
	<array>
		<string>D392F000260100000001</string>
		<string>D3921000310001010408</string>
		<string>D3921000310001010100</string>
		<string>D3921000310001010401</string>
	</array>
	<key>computeDigitalSignature</key>
	<string>0080</string>
	<key>digitalSignatureCertificate</key>
	<string>0001</string>
	<key>digitalSignaturePin</key>
	<string>001B</string>
	<key>digitalSignaturePrivate</key>
	<string>001A</string>
	<key>userAuthenticationCertificate</key>
	<string>000A</string>
	<key>userAuthenticationPin</key>
	<string>0018</string>
	<key>userAuthenticationPrivate</key>
	<string>0017</string>
</dict>
</plist>
