<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Cache-Control" content="no-store">

        <link rel="stylesheet" href="style.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

        <title>新規会員登録/ログイン</title>
    </head>
   
    <body>
        <header>
            <div class="text-primary">
                <h2>【SampleRP】Sample Webサイト</h2>
            </div>     
            <p class="border border-dark border-bottom-0"></p>                 
        </header>
    
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6 align-self-center">
                    <div class="border border-gray rounded">
                        <div class="text-center">
                            <h4>新規会員登録</h4>
                            <br>
                            <h5>⬛️簡単な手順で登録！</h5>
                            <p>①IDを入力して設定<br>②パスワードを入力して設定</p>
                            <br>
                            <button type="button" class="btn btn-primary">新規会員登録</button>
                            <br>
                            <br>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 align-self-center">
                    <div class="float-end">
                        <div class="border border-gray rounded">
                            <div class="text-center">
                                <h4>ログイン</h4>
                                <br>
                                <h5>⬛️パスワードでログイン</h5>
                                <form>
                                    <div class="mb-3">
                                        <input type="text" id="text" class="form-control" placeholder="ユーザーID">
                                    </div>
                                    <div class="mb-3">
                                        <input type="text" id="text" class="form-control" placeholder="パスワード">
                                    </div>
                                    <button type="submit" class="btn btn-primary">送信</button>
                                </form>
                                <br>
                                <p class="border border-dark border-bottom-0"></p>
                                <h5>⬛️マイナンバーカード認証登録/ログイン</h5>
                                <br>
                                <form action="/Keycloak-login">
                                    <button type="submit" class="btn btn-primary" formmethod="get">マイナンバーカード認証登録/ログイン</button>
                                </form>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </body>
</html>