{
  \"realm\": \"${KEYCLOAK_REALM}\",
  \"auth-server-url\": \"${KEYCLOAK_AUTH_URL}\",
  \"ssl-required\": \"external\",
  \"resource\": \"sample-client\",
  \"public-client\": true,
  \"confidential-port\": 0
}
